<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true" default-autowire="byName">

    <!-- Spring定时器注解开关-->
    <!--<task:annotation-driven />-->
    <!--&lt;!&ndash; 此处对于定时时间的配置会被注解中的时间配置覆盖，因此，以注解配置为准 &ndash;&gt;-->
    <!--<task:scheduled-tasks scheduler="myScheduler">-->
        <!--<task:scheduled ref="fileSpaceConfigTask" method="updateFileConfig" cron="0 0 0 * * ?"/>-->
    <!--</task:scheduled-tasks>-->
    <!--<task:scheduler id="myScheduler" pool-size="10"/>-->
    <!--<task:scheduled-tasks scheduler="myScheduler">-->
        <!--<task:scheduled ref="gcTask" method="doGc" cron="0 0/1 * * * ?"/>-->
    <!--</task:scheduled-tasks>-->
    <!--<aop:aspectj-autoproxy />-->

</beans>  