<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@include file="/include/include.jsp"%>
#set($j="$")
<c:set var="actionUrl" >
    ${j}{pageContext.request.contextPath}/${head.viewFolder}.do
</c:set>
<c:set var="tableName" value="${head.tableName}" scope="request" />
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <%@include file="/include/head.jsp"%>
    <%@include file="/include/code/simple/view_ext.jsp" %>
    <script  type="text/javascript" src="${j}{pageContext.request.contextPath}/plug-in/code_js/common_method.js" ></script>
    <script  type="text/javascript" src="${j}{pageContext.request.contextPath}/plug-in/code_js/simple/method.js" ></script>
    <script type="text/javascript" >
        var id='${j}{ param.id}';
        window.onload=(function(){
            loadFormData(id);
        });

    </script>
</head>
<body >
<div align="center">
<form id="editForm">
    <input name="id" type="hidden" id="edit_id">
    <table align="center">
        <tr>
#set($colCount=1)
#foreach($field in ${head.fields})
#if(${field.isInsert()})

            <td style="padding: 5px">${field.fieldContent}：</td>
            <td style="padding: 5px">
                ${ViewUtil.getFieldInput(${field})}
            </td>
#if(${colCount}%2==0)
         </tr>
         <tr>
#end
#set($colCount=1+$colCount)
#end
#end
        </tr>
        <tr align="center">
            <td colspan="4"><a href="javascript:void(0);"  class=" easyui-linkbutton" onclick="saveData()">提交</a></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>
